@model MVC_EXAM.Models.pclass

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <div>
        @using (Html.BeginForm())
        {
            <table>
                <tr>
                    <td>
                        catname:
                    </td>
                    <td>
                        @Html.DisplayFor(v=>v.catname)
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="submit" value="Delete" />
                    </td>
                </tr>
            </table>
        }
    </div>
</body>
</html>
