<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>MY FIRST PAGE</title>
</head>
<body>
     <table border="2" cellspacing="10" cellpadding="10">
        <tr style="color:Aqua">
            <td>
                Firstname:
            </td>
            <td>
                Tops.
            </td>
            <td>
                abc
            </td>
        </tr>
        <tr style="font-style:italic">
            <td>
                Lastname:
            </td>
            <td>
                Tech
            </td>
        </tr>
        <tr>
            <td rowspan="2">
                hobby:
            </td>
            <td>
                cricket
            </td>
        </tr>
        <tr>
            <td>
                Football
            </td>
        </tr>
        <tr>
            <td colspan="2">
                tops technology
            </td>
        </tr>
    </table>
    tops tech
    <!--<h1>
        Tops Tech
    </h1>
    <h2>
        Tops Tech</h2>
    <h3>
        Tops Tech</h3>
    <h4>
        Tops Tech</h4>
    <h5>
        Tops Tech</h5>
    <h6>
        Tops Tech</h6>-->
    <ul type="none">
        <li>tops</li>
        <li>tech</li>
    </ul>
    <ol type="i">
        <li>tops
            <ul type=square>
                <li>rajesh</li>
                <li>chopda</li>
            </ul>
        </li>
        <li>tech</li>
        <li>tops</li>
        <li>tech</li>
    </ol>
</body>
</html>
