        p
        {
            color: Gold;
            font-size: small;
            font-family: Algerian;
        }
        h2
        {
            color: Silver;
            font-size: small;
            font-family: Algerian;
        }
        .krunal
        {
             color: Green;
            font-size: small;
            font-family: Algerian;
        }
        .prashant
        {
             color: Pink;
            font-size: small;
            font-family: Algerian;
        }
        #i1
        {
             color: Aqua;
            font-size: small;
            font-family: Algerian;
        }