@model mvcfeb3manual.Models.first

@{
    ViewBag.Title = "delete";
}

<h2>delete</h2>

@using (Html.BeginForm())
{
<table align="center" border="1">
    <tr>
        <td>Firstname:</td>
        <td>@Html.DisplayFor(v => Model.fname)</td>
    </tr>

    <tr>
        <td>LastNme:</td>
        <td>@Html.DisplayFor(v => Model.lname)</td>
    </tr>
    <tr>
        <td></td>
        <td>
            <input type="submit" name="sub" value="Delete" />
            @Html.ActionLink("Cancel","getdata")
        </td>
    </tr>
</table>
}
