<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>

    <add name="str" connectionString="Data Source=P7\MS;Initial Catalog=db_student;Integrated Security=True"/> 
    
  </connectionStrings>

    <system.web>
        <compilation debug="false" targetFramework="4.0" />
    </system.web>

</configuration>
