@model IEnumerable< MVC_EXAM.Models.pclass>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>displaycat</title>
</head>
<body>
    <div>
        <table align="center" border="1">
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(v=>item.catname)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id=item.catid})
                    </td>
                    <td>
                        @Html.ActionLink("Delete", "Delete", new {id=item.catid})
                    </td>
                </tr>
            }
        </table>
    </div>
</body>
</html>
