<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link href="css/StyleSheet.css" rel="stylesheet" type="text/css" />
    <link href="StyleSheet.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <h1>
        tops tech</h1>
    <p class="c2">
        Notepad is a basic text-editing program and it's most commonly
    </p>
    <p id="id1">
        Notepad is a basic text-editing program and it's most commonly
    </p>
</body>
</html>
