p
{
    color: Aqua;
    font-family: Algerian;
}
.tops
{
    color: Chocolate;
    font-family: Times New Roman Baltic;
}
.mitesh2
{
    color: Chocolate;
    font-family: Times New Roman Baltic;
}
#new
{
    color: Gold;
    font-family: Times New Roman Baltic;
}
