@model mitesh_mvc.Models.login

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>forgot_password</title>
</head>
<body>
    <div>
        
    </div>
</body>
</html>
