@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/layout/styles/layout.css" rel="stylesheet" />
    <script type="text/javascript" src="~/layout/scripts/jquery.min.js"></script>
    <script type="text/javascript" src="~/layout/scripts/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="~/layout/scripts/jquery.hslides.1.0.js"></script>
    <meta name="viewport" content="width=device-width" />
    <title>Layout_Master</title>
    <script type="text/javascript">
        $((function () {
            $('#accordion').hSlides({
                totalWidth: 920,
                totalHeight: 300,
                minPanelWidth: 111,
                maxPanelWidth: 476,
                easing: "easeOutBack",
                activeClass: 'current'
            });
        }));
    </script>
</head>
<body>
    <div>

        <div id="topbar">
            <div class="wrapper">
                <div id="topnav">
                    <ul>
                        <li class="active"><a href="index.html">Home</a></li>
                        <li><a href="pages/style-demo.html">Style Demo</a></li>
                        <li><a href="pages/full-width.html">Full Width</a></li>
                        <li><a href="#">DropDown</a>
                            <ul>
                                <li><a href="#">Link 1</a></li>
                                <li><a href="#">Link 2</a></li>
                                <li><a href="#">Link 3</a></li>
                            </ul>
                        </li>
                        <li class="last"><a href="#">A Long Link Text</a></li>
                    </ul>
                </div>
                <div id="search">
                    <form action="#" method="post">
                        <fieldset>
                            <legend>Site Search</legend>
                            <input type="text" value="Search Our Website&hellip;" onfocus="this.value=(this.value=='Search Our Website&hellip;')? '' : this.value ;" />
                            <input type="submit" name="go" id="go" value="Search" />
                        </fieldset>
                    </form>
                </div>
                <br class="clear" />
            </div>
        </div>
        @RenderBody()



        <div id="footer">
            <div class="wrapper">
                <div id="newsletter">
                    <h2>Stay In The Know !</h2>
                    <p>Please enter your email to join our mailing list</p>
                    <form action="#" method="post">
                        <fieldset>
                            <legend>News Letter</legend>
                            <input type="text" value="Enter Email Here&hellip;" onfocus="this.value=(this.value=='Enter Email Here&hellip;')? '' : this.value ;" />
                            <input type="submit" name="news_go" id="news_go" value="GO" />
                        </fieldset>
                    </form>
                    <p>To unsubscribe please <a href="#">click here &raquo;</a></p>
                </div>
                <div class="footbox">
                    <h2>Lacus interdum</h2>
                    <ul>
                        <li><a href="#">Praesent et eros</a></li>
                        <li><a href="#">Praesent et eros</a></li>
                        <li><a href="#">Lorem ipsum dolor</a></li>
                        <li><a href="#">Suspendisse in neque</a></li>
                        <li class="last"><a href="#">Praesent et eros</a></li>
                    </ul>
                </div>
                <div class="footbox">
                    <h2>Lacus interdum</h2>
                    <ul>
                        <li><a href="#">Praesent et eros</a></li>
                        <li><a href="#">Praesent et eros</a></li>
                        <li><a href="#">Lorem ipsum dolor</a></li>
                        <li><a href="#">Suspendisse in neque</a></li>
                        <li class="last"><a href="#">Praesent et eros</a></li>
                    </ul>
                </div>
                <div class="footbox">
                    <h2>Lacus interdum</h2>
                    <ul>
                        <li><a href="#">Praesent et eros</a></li>
                        <li><a href="#">Praesent et eros</a></li>
                        <li><a href="#">Lorem ipsum dolor</a></li>
                        <li><a href="#">Suspendisse in neque</a></li>
                        <li class="last"><a href="#">Praesent et eros</a></li>
                    </ul>
                </div>
                <br class="clear" />
            </div>
        </div>
    </div>
</body>
</html>
