@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
  <div align="center">
        <br />
        <br />
         <h3>User</h3>
        @Html.ActionLink("Registration","Register")
    </div>
</body>
</html>
