@model IEnumerable<MVC_ALL_Cntrl_DB.Models.admin>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>pv_hobby</title>
</head>
<body>
    <div>
        <table>

            <tr>

                <td>
                    @foreach (var item in Model)
                    {
                     
                        @Html.CheckBoxFor(v=>item.hoby,"") @item.hb
                        
                    }


                </td>
            </tr>
        </table>
    </div>
</body>
</html>
