@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div align="center">
        <br />
        <br />
        <h3>ADMIN</h3>
        @Html.ActionLink("Gender","Gender")
        @Html.ActionLink("Hobby","Hobby")
        @Html.ActionLink("Subject","Subject")
        @Html.ActionLink("State","State")
        <br/>
        <br />
       
  

        
    </div>
</body>
</html>
