@model mvcexam.Models.product

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>viewprod</title>
</head>
<body>
    <div align="center">
        @using (Html.BeginForm())
        { 
            <table>
                <tr>
                    <td>
                        Select Category:
                    </td>
                    <td>
                        @Html.DropDownListFor(v=>v.catid,new SelectList(ViewBag.cat,"value","text"),"Select Category", new { onchange = "document.location.href = '/user/viewproduct?id=' + this.options[this.selectedIndex].value;" })

                    </td>
                    <td></td>
                    
                </tr>
            </table>
        }
    </div>
</body>
</html>
